.*/
node_modules/
out/src/**
out/tests/**
out/coverage/
**/*.tests.*
tests/**
src/
examples/
design/
releases/
assets/remote/
coverage/
**/*.map
.gitignore
tsconfig.json
jest.config.json
notes.md
*.vsix
*.zip
