* {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

title {
	font-weight: bold;
}

a.tip {
	font-weight: bold;
}

/* Makes content gray. */
.gray {
    color: var(--vscode-editorLineNumber-foreground);
}


/* class attached to errors for highlighting. */
.error {
	color: red;
	font-weight: bold;
}

/* Alternating colors for table rows. */
tr:nth-child(even) {
    background-color: var(--vscode-editorIndentGuide-background);
}
tr:nth-child(odd) {
    background-color: var(--vscode-badge-background);
}

/* Left align table headers. */
th {
	text-align: left;
	vertical-align: top;
	padding: 0.25em;
	font-weight: bold;
	background-color: var(--vscode-badge-background);
}

/* Table cells */
td {
	text-align: left;
	vertical-align: top;
	padding: 0.25em;
}

/* Class for the embedded table */
.embeddedtable {
	background-color: var(--vscode-editorWidget-background)
}

/* Class for the collapse icon */
.collapse {
	min-width: 1em;
	text-align: right;
	color: var(--vscode-terminal-ansiYellow)
}

/* Class for the offset */
.offset {
	min-width: 3em;
	text-align: right;
	color: var(--vscode-terminal-ansiYellow)
}

/* Class for the size */
.size {
	min-width: 3em;
	text-align: right;
	color: var(--vscode-terminal-ansiMagenta)
}

/* Class for the name */
.name {
	min-width: 3em;
	font-weight: bold;
	color: var(--vscode-terminal-ansiBrightBlue)
}

/* Class for the value */
.value {
	min-width: 4em;
	font-weight: bold;
	color: var(--vscode-terminal-ansiGreen)
}

/* Class for the description */
.description {
	/* padding-left: 1.5em; */
	color: var(--vscode-terminal-ansiWhite)
}

/* To achieve fixed char sizes  for the ASCII text. */
.mem_ascii {
  display: inline-block;
  width: 1em;
  text-align: center;
}


/* Expanded content of a memory dump. */
.mem_dump {
}

/* The offset inside a memory dump. */
.mem_offset {
	color: var(--vscode-editorLineNumber-foreground);
}

/* The relative offset. */
.mem_rel_offset {
	color: var(--vscode-editorLineNumber-foreground);
	padding-left: 0.25em;
}

/* One mem dump byte. */
.mem_byte {
  	display: inline-block;
  	width: 1.5em;
  	text-align: center;
	padding: 0;
	/*padding-left: 0.25em;*/
}


